@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #645858;

    background-color: #FFF0F0;
    background-image: url("/img/bg.jpg");
    background-position: 55% 45%;
    background-attachment: fixed;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 25px;
}

.personal-info {
    display: flex;
    justify-content: space-between;

    padding: 20px 0;
}

.avatar-and-name {
    width: 35%;
}

.avatar {
    margin-bottom: 20px;

    border-radius: 20%;
    box-shadow: 5px 5px 10px 5px rgba(0, 145, 143, 0.5);
}

.name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #00918F;
}

h2 {
    margin-bottom: 10px;

    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #C15A7E;
}

section {
    margin-bottom: 10px;
    padding: 20px;
}

.info {
    width: 65%;

    padding: 20px;

    border: 2px solid #00918F;
    border-radius: 25px 0 25px 0;
    background-image: linear-gradient(45deg, #F6CDCE, #00C9C5);
}

.hobbies, .work, .contact-form {
    border: 2px solid #C15A7E;
    border-radius: 25px 0 25px 0;
}

.hobbies, .work {
    background-image: linear-gradient(45deg, #F6CDCE, #A66378);
}

.socials a {
    color: #007676;
}

.socials a:hover, .socials a:focus {
    opacity: 0.8;
}

.socials a:active {
    color: #A66378;
}

/* .socials a:visited {
    color: #655959;
} */

.btn {
    padding: 10px 25px;

    font-family: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;

    color:#FFF0F0;
    background-color: #00918F;
    border: none;
    border-radius: 10px;
}

.btn:hover, .btn:focus {
    cursor: pointer;

    opacity: 0.8;
    color: rgba(255, 240, 240, 1);
}

a:focus, .btn:focus {
    outline-color: #655959;
}

.table {
    width: 600px;

    border: 1px solid #645858;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #645858;
}

.table th {
    background-color: #C6B8B8;
}

.table td {
    background-color: #FFE4E4;
}

ul {
    list-style: none;
}

.navbar {
    margin-bottom: 25px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;

    background-color: #A66378;
}

.navbar li {
    padding: 10px;
    margin-right: 15px;
}

.navbar li:hover {
    background-color: #645858;
    opacity: 0.8;
    color: rgba(255, 240, 240, 1);
}

.navbar a {
    color: #FFF0F0;
    text-decoration: none;
}

.contact-form {
    width: 600px;

    margin: 0 auto;

    background-image: linear-gradient(to bottom right, #F6CDCE, #A66378);
}

.contact-form h2 {
    text-align: center;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-row .form-group {
    width: 50%;

    margin-right: 20px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label  {
    display: block;

    padding: 10px 0;

    font-weight: 700;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;

    border: none;
    border-bottom: 1px solid #372C2C;
    background: transparent;
    color: #372C2C;

    font-family: inherit;
    font-size: 20px;
    line-height: 24px;

    outline-color: #655959;
}

.form-group textarea {
    resize: none;

    border: 1px solid #372C2C;
}
