@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #645858;

    background-color: #FFF0F0;
    background-image: url("/img/bg.jpg");
    background-position: 55% 45%;
    background-attachment: fixed;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 25px;
}

.avatar {
    margin: 25px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 5px rgba(0, 145, 143, 0.5);
}

.name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #00918F;
}

h2 {
    margin-bottom: 10px;

    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #C15A7E;
}

section {
    margin-bottom: 10px;
    padding: 20px;
}

.info {
    border: 2px solid #00918F;
    border-radius: 25px 0 25px 0;
    background-image: linear-gradient(45deg, #F6CDCE, #00C9C5);
}

.hobbies, .work {
    border: 2px solid #C15A7E;
    border-radius: 25px 0 25px 0;
    background-image: linear-gradient(45deg, #F6CDCE, #A66378);
}

a {
    color: #007676;
}

a:hover, a:focus {
    opacity: 0.8;
}

a:active {
    color: #A66378;
}

/* a:visited {
    color: #655959;
} */

.btn {
    padding: 10px 25px;

    font-family: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;

    color:#FFF0F0;
    background-color: #00918F;
    border: none;
    border-radius: 10px;
}

.btn:hover, .btn:focus {
    cursor: pointer;

    opacity: 0.8;
    color: rgba(255, 240, 240, 1);
}

a:focus, .btn:focus {
    outline-color: #655959;
}
